.root {
    -fx-background-color: #45464B;
}

.botones {
    -fx-background-color: #9A9B9E;
}

#tituloLabel {
    -fx-font-weight: bold;
}

#resultadoLabel, #metricaInicialLabel, #metricaObjetivoLabel {
    -fx-alignment: center;
}

#resultadoLabel {
    -fx-font-weight: bold;
    -fx-font-size: 30;
}